:root {
  --red-color: #ff3544;
  --green-color: #34ff23;
  --yellow-color: #ff0;
  --blue-color: #00f;
  --text-color: #eee;
}

$red-color: var(--red-color);
$green-color: var(--green-color);
$yellow-color: var(--yellow-color);
$blue-color: var(--blue-color);
$text-color: var(--text-color);
