.title {
  background-color: aqua;
  border: 1.5px solid salmon;
  height: 50px;
  left: 50px;
}

.juego {
  background-color: aquamarine;
  border: 1.3px solid red;
}

.colorRed {
  background-color: bisque;
  border: 1.3px solid red;
}
