doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        title Juego
    body
        header
            h1.title Juego
        main.main
            .main-juego
                .main-juego-option
                    .main-juego-option__colorRed
                    .main-juego-option__colorGreen
                    .main-juego-option__colorBlue
                    .main-juego-option__colorYellow
                .main-juego__pregunta
        script(src="js/scripts-main.js")